
@font-face {
  font-family: Nordique Pro Bold;
  src: url(../assets/fonts/NordiquePro-Bold.otf);
}
@font-face {
  font-family: Nordique Pro Light;
  src: url(../assets/fonts/NordiquePro-Light.otf);
}
@font-face {
  font-family: Nordique Pro;
  src: url(../assets/fonts/NordiquePro-Regular.otf);
}
@font-face {
  font-family: Nordique Pro Semibold;
  src: url(../assets/fonts/NordiquePro-Semibold.otf);
}
@font-face {
  font-family: Futura PT Light;
  src: url(../assets/fonts/FuturaPT_Light.otf);
}

@font-face {
  font-family: Futura PT;
  src: url(../assets/fonts/FuturaPT-Medium.otf);
}

* {
  box-sizing: border-box;
}

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   .splash-container {
     display: grid;
     grid-column-gap: 14px;
     grid-template-columns: min-content 1fr 1fr;
     grid-template-rows: 50px 1fr;
     padding: 40px;
     width: 100%;
     height: 100vh;
   }

   .shape-contain {
     display: flex;
     justify-content: center;
     align-items: flex-end;
     width: 65vw;
     min-height: 80vh;
     grid-column: 1 / 4;
     grid-row: 2 / 3;
     justify-self: center;
     align-self: end;
     position: relative;
   }

   .shape-contain .shape {
     display: block;
     position: absolute;
     top: 30%;
     bottom: auto;
   }

   .shape a:hover, .shape a:active, .shape a:focus {
      outline: 0;
   }

   .subtitle-container {
     grid-column: 2 / 3;
     display: inline-block;
     margin-block-start: 1em;
     margin-block-end: 1em;
   }

   .subtitle-container .main-title, .subtitle-container .subtitle{
     display: inline;
   }

   .subtitle-container .main-title {
     font-size: 1.5rem;
     font-family: Nordique Pro Semibold;
     font-weight: 400;
     display: inline-block;
     margin: 0;
   }

   .subtitle-container .subtitle {
     font-size: 1.5rem;
     font-family: Nordique Pro Light;
     font-weight: 400;
     display: inline-block;
     margin: 0;
   }

   #main-blurb{
     grid-column: 3 / 4;
     font-size: 0.9rem;
     font-family: Futura PT Light;
     font-weight: 400;
   }

   #sub-default{
     display: none;
   }

   .speakers-container .side-nav{
     display: hidden;
   }

   .speakers-container {
     width: 100%;
     height: 100vh;
     padding: 3rem 40px;
   }

   .speakers-container .speaker-list-wrapper{
     display: flex;
     width: 100%;
     flex-direction: column;
     align-items: flex-start;
     justify-content: flex-start;
     border-top: 2px solid black;
   }

   .speaker-list-wrapper .speaker-box{
     display: inline-block;
     margin-bottom: 0.75rem;
   }

   .speaker-box h2{
     margin: 0;
     line-height: 1;
     font-family: Futura PT;
   }

   .speaker-box p {
     margin: 0;
     line-height: 1.5;
     font-family: Futura PT Light;
   }

   .photo-area{
     height: 100%;
   }

   .photo-area img{
     display: none;
   }

   #schedule-box.negate.hidden {
     display: inline-block !important;
   }

   .schedule-container {
     display: inline-block;
     width: 99%;
     height: auto;
     margin-top: 3rem;
     border-top: 2px solid black;
   }

   .schedule-container h3 {
     font-family: Futura PT;
     font-weight: 400;
     color: black;
     font-size: 1.5rem;
   }

   .schedule {
     list-style: none;
     display: flex;
     flex-direction: column;
   }

   .schedule .schedule-item {
     margin: 0.25rem 0;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     border-bottom: 1px solid grey;
   }
   .schedule .schedule-item p {
     display: inline-block;
     margin: 0;
     font-size: 1.25rem;
   }
   .schedule .schedule-item .item-header {
     font-family: Futura PT Light;
   }
   .schedule .schedule-item .item-time {
     font-family: Futura PT Light;
   }
   .schedule .schedule-item.gap-item {
     margin: 1.5rem 0;
   }

   .ws-side-nav {
     display: none;
   }

   @media only screen and (min-width: 600px) {
     /* For tablets: */
     .splash-container {
       grid-template-columns: 1fr auto 1fr;
       padding: 40px;
     }

     .shape-contain {
       grid-column: 1 / 4;
       grid-row: 2 / 3;
       width: 65vw;
       min-height: 80vh;
     }

     .shape-contain .shape {
       top: 20%;
       bottom: auto;
     }

     .splash-container {
       grid-column-gap: 14px;
       grid-template-columns: min-content 1fr 1fr;
     }

     .subtitle-container {
       margin-block-start: 1em;
       margin-block-end: 1em;
     }

     .subtitle-container .main-title{
       font-size: 1.5rem
     }

     .subtitle-container .subtitle {
       font-size: 1.5rem;
       padding-left: 0.75rem;
     }

     .subtitle-container .subtitle{
       font-size: 1.5rem;
       padding-left: 0;
     }

     #sub-default{
       display: inline-block;
     }
   }
   @media only screen and (min-width: 768px) {

     .shape-contain .shape {
       top: 10%;
       bottom: auto;
     }

     .shape-contain {
       grid-column: 1 / 4;
       grid-row: 2 / 3;
       width: 50vw;
       min-height: 80vh;
     }

     .subtitle-container {
       margin-block-start: 0.5rem;
     }

     .subtitle-container .main-title {
       font-size: 2.5rem;
     }

     .subtitle-container .subtitle{
       font-size: 2.5rem;
       padding-left: 0.5rem;
     }

     #main-blurb {
      margin: 0;
       padding-top: 1rem;
     }
   }

   @media only screen and (min-width: 1024px){
      /* For desktop: */

      .main-container {
        width: 200vw;
        height: 100vh;
        overflow-y: hidden;
      }

      .main-container .sections{
        width: 200vw;
        height: 100%;
      }

      .main-container .sections .section{
        height: 100%;
        width: 100vw;
        float: left;
      }

      .splash-container {
        grid-template-columns: 1fr auto 1fr;
        padding: 40px;
        height: 100%;
      }

      .shape-contain {
        width: 40vw;
        min-height: 80vh;
        grid-column: 2 / 3;
        grid-row: 2 / 3;
      }

      .shape-contain .shape {
        display: block;
        position: absolute;
        top: auto;
        bottom: -6%;
      }

      .subtitle-container {
        margin: 0;
      }

      .subtitle-container .main-title {
        font-size: 3rem;
      }

      .subtitle-container .subtitle{
        font-size: 3rem;
        padding-left: 0.75rem;
      }


      #arrowhold {
        grid-column: 3/4;
        grid-row: 2/3;
        align-self: center;
      }

      .arrow-path {
        fill: white;
        stroke: black;
        transform-origin: right;
        transform: translateY(50%) translateX(80%);
      }

      .arrow-path:hover{
        stroke: #DB3EB1;
        stroke-width: 0.15rem;
      }

      #main-blurb {
         margin: 0;
        padding-top: 1rem;
      }
       #sub-default{
         display: inline-block;
       }

      #mobile-nav {
        display: none !important;
      }

      .speakers-container {
        display: grid;
        grid-column-gap: 12px;
        grid-template-columns: repeat(6, 1fr);
        padding: 40px;
      }

      .speakers-container .featured-subheader{
        font-weight: 500;
        text-transform: capitalize;
        font-size: 1.35vw;
        margin-bottom: 0.25rem;
      }

      .speakers-container .speaker-list-wrapper{
        display: block;
        width: 100%;
        height: 90vh;
        grid-column: 1/4;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: flex-end;
        font-family: Futura PT;
        border-top: none;
      }

      .featured-subheader {
        margin-right: 1.25vw;
        writing-mode: vertical-lr;
        transform: rotate(180deg);
      }

      .speakers-container .speaker-box{
        margin-right: 1.25vw;
        writing-mode: vertical-lr;
        transform: rotate(180deg);
        display: inline-block;
        align-self: flex-end;
        transition: margin-bottom 0.25s ease-out;
      }

      .speakers-container .speaker-box:hover{
        margin-bottom: 1.5rem;
      }

      .speakers-container .speaker-box .title{
        font-family: Futura PT;
        font-weight: 500;
        font-size: 3.5vw;
        margin-left: 0.5rem;
        line-height: 1;
      }
      .speakers-container .speaker-box .subtitle{
        font-family: Futura PT Light;
        font-weight: 100;
        font-size: 1.35vw;
        line-height: .75;
      }

      .speakers-container .photo-area{
        grid-column: 4 / 7;
        width: 100%;
        height: 100%;
        padding: none;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .schedule-container {
        display: inline-block;
        width: 75%;
        height: auto;
        border-top: none;
        align-self: flex-end;
        padding-bottom: 1rem;
      }

      .schedule-container h3 {
        font-family: Futura PT;
        font-weight: 400;
        color: black;
        font-size: 1.5rem;
      }

      .schedule {
        list-style: none;
        display: flex;
        flex-direction: column;
      }

      .speaker-img{
        box-sizing: border-box;
        height: auto;
      }

      .photo-area {
        img {
          display: block;
        }
        .asana-img{
          width: 10rem;
        }

        .telus-img{
          width: 13rem;
        }

        .allpurpose-img{
          width: 10rem;
        }

        .everyday-img{
          width: 11rem;
        }

        .engine-img{
          width: 13rem;
        }

        .dossier-img{
          width: 200px;
        }
      }

      .ws-side-nav {
        display: inline-flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-between;
        overflow: hidden;
        width: 3rem;
        height: 100%;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 100;
        background-color: white;
        a {
          color: #005EB8;
          writing-mode: vertical-lr;
          transform: rotate(180deg);
          margin-bottom: 2rem;
          font-family: Futura PT;
          text-decoration: none;
        }
        span {
          margin-top: 2rem;
        }
        a:hover {
          color: #DB3EB1;
          text-decoration: underline;
        }
      }
   }

#mobile-nav {
  grid-column: 1/4;
  grid-row: 2/3;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-self: end;
}

#mobile-nav a {
  font-size: 1.2rem;
  font-family: Futura PT Light;
  text-transform: lowercase;
  display: block;
  text-decoration: none;
  color: #005EB8;
  padding: 0.5rem;
}

#mobile-nav a:hover, #mobile-nav a:focus, #mobile-nav a:active{
  color: #CDD2E9;
  text-decoration: underline;
}

#full-circ {
  fill: #0093DA;
  transition: fill 0.19s ease-in;
}

#pacman {
  fill: #005EB8;
  transition: fill 0.19s ease-in;
}

#semi-circ{
  fill: #DB3EB1;
  transition: fill 0.19s ease-in;
}

#qrtr-circ{
  fill: #FF6720;
  transition: fill 0.19s ease-in;
}

/* outer hover */
#full-circ.fullhover {
  fill: #4490CA;
}

#pacman.fullhover{
  fill: #CDD2E9;
}

#semi-circ.fullhover{
  fill: #EAD8E7
}

#qrtr-circ.fullhover{
  fill: #F8DDCA;
}

/* pacman hover */
#full-circ.pachover {
  fill: #D6E1F2;
}

#pacman.pachover{
  fill: #4E5FAB;
}

#semi-circ.pachover{
  fill: #EAD8E7;
}

#qrtr-circ.pachover{
  fill: #F8DDCA;
}

/* semi circle hover */
#full-circ.semihover {
  fill: #D6E1F2;
}

#pacman.semihover{
  fill: #CDD2E9;
}

#semi-circ.semihover{
  fill: #BB5698;
}

#qrtr-circ.semihover{
  fill: #F8DDCA;
}

/* qrtr circle hover */
#full-circ.qrtrhover {
  fill: #D6E1F2;
}

#pacman.qrtrhover{
  fill: #CDD2E9;
}

#semi-circ.qrtrhover{
  fill: #EAD8E7;
}

#qrtr-circ.qrtrhover{
  fill: #E26F3B;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}


/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}



/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}




/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
